<html>
<head>

<title>Login page</title>
</head>
<script type="text/javascript">
function display(form){
if (form.username.value=="live") { 
		if (form.password.value=="stream") {              
										location="stream" 
											} else {
													alert("Invalid Password")
													}
								} else if (form.username.value=="static") { 
		                                    if (form.password.value=="feed") {              
										                                    location="static" 
											} else {
                                                    alert("Invalid Password")
                                            }
                                                    
                                                }else{  alert("Invalid Username")
										}
						}
			</script>			
<body >

<form >
<input type="text" name="username" /><br><br>
<input type="password" name="password"/><br><br>
<input type="button" value="Login" onClick="display(this.form)"/>

</form>

</body>
</html>